#titleInfo {
  text-align: center;
  color: #1E47FB;
  margin: 20px;
  font-family: 'Oswald', sans-serif;
}

.containerInfo {
  margin: auto;
  width: 300px;
}


.listItem {
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.contactItem {
  text-align: center;
  margin-top: 25px;
  font-family: 'Oswald', sans-serif;

}